# Terraform cache
**/.terraform/*

# Terraform state (NEVER COMMIT)
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform CLI binary (do not commit)
terraform.exe

# OS
Thumbs.db
.DS_Store

# Local notes / extras
terraform/LICENSE.txt
terraform/terraform aws subnets.txt
git